form(action='/users/register', method='POST')
    input(type='text', placeholder='email', name='email')
    input(type='text', placeholder='bnet_id', name='bnet_id', value='16941161')
    input(type='text', placeholder='password', name='password1')
    input(type='text', placeholder='confirm password', name='password2')
    button(type='submit') Submit